<h1>[% user_result.username %]</h1>
<h2>App: [% app_result.name %]</h2>

[% IF c.user_exists && owner %]
<form action="[% c.uri_for( '/upload' ) %]" method="post" enctype="multipart/form-data">
  <input type="hidden" name="app_id" value="[% app_result.id %]">
  <input type="file" name="app_archive" required>
  <input type="submit" value="Upload">
</form>
[% END %]
