<!doctype html>
<html>
  <head>
    <title>[% c.name %]</title>
    <script src="[% c.uri_for('/static/lib/jquery/js/jquery-2.2.4.min.js') %]" type="text/javascript"></script>
    <script src="[% c.uri_for('/static/lib/bootstrap/js/bootstrap.min.js') %]" type="text/javascript"></script>
    <link href="[% c.uri_for('/static/lib/bootstrap/css/bootstrap.min.css') %]" rel="stylesheet" />
    <link href="[% c.uri_for('/static/lib/bootstrap/css/bootstrap-theme.min.css') %]" rel="stylesheet" />
    <link href="[% c.uri_for('/static/css/main.css') %]" rel="stylesheet" />
  </head>
  <body>
    [%- INCLUDE 'partials/navbar.tt' %]
    <div id="content" class="container">
      [%- content %]
    </div>
    <div id="footer" class="navbar-fixed-bottom">
      <div class="container text-right">
        <a href="http://www.catalystframework.org/" target="_blank"><img src="[% c.uri_for('/static/images/btn_88x31_powered.png') %]" alt="Powered by Catalyst" class="powered-by">
        </a>
      </div>
    </div>
  </body>
</html>
