<ul class="list-group">
[%- WHILE (app_result = apps_rs.next) %]
[% PROCESS app_row app_result = app_result %]
[%- END %]
</ul>

[%- BLOCK app_row %]
<li class="list-group-item">
<h3>
  <a href="[% c.uri_for( '/app/' _ app_result.user.lc_username _ '/' _ app_result.lc_name ) %]">
    [% app_result.user.username %] / [% app_result.name %]
</h3>
<p>[% app_result.description %]</p>
</li>
[%- END %]
