[%- IF message %]
<div class="panel panel-default">
  <div class="panel-heading text-center">
    [% message %]
  </div>
</div>
[% END -%]
[%- IF error %]
<div class="panel panel-danger">
  <div class="panel-heading text-center">
    [% error %]
  </div>
</div>
[% END -%]
